.about {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-row-gap: 80px;
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
    @include animatedTransition;
    &_type_invisible {
        position: relative;
        &::after {
            content: '';
            background: #fff;
            position: absolute;
            transition: width ease 2s;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
        }
    }
    &_type_visible {
        position: relative;
        &::after {
            content: '';
            background: #fff;
            position: absolute;
            width: 0;
            height: 100%;
            top: 0;
            left: 0;
        }
    }
    &_type_undercover {
        visibility: hidden;
    }
    &__title {
        @include reset;
        @include headlineDesctop;
        @include animatedTransition;
        @media screen and (max-width: 768px) {
            @include headlineTablet;
        }
        @media screen and (max-width:480px) {
            @include headlineMobile;
        }
    }
    &__subtitle {
        @include reset;
        @include textDesctop;
        @include animatedTransition;
        @media screen and (max-width: 480px) {
            @include textMobile;
        }
    }
    &__subtitle-animated {
        animation: 3s beautyText linear;
    }
    &_type-center {
        align-self: center;
    }
    &__letter {
        @include reset;
        @include leadDesctop;
        transition: opacity ease 2s;
        opacity: 0;
        @media screen and (max-width: 650px) {
            @include leadMobile;
        }
    }
    &__letter-visible {
        opacity: 1;
    }
    &__article {
        @include reset;
        @include leadDesctop;
        color: #0a0a0a;
        font-family: Prompt;
        font-size: 32px;
        font-style: normal;
        font-weight: 500;
        line-height: 44px;
        margin: 0;
        padding: 0;
        min-height: 150px;
        max-width: 700px;
        align-self: center;
        width: 100%;
        position: relative;
        @include animatedTransition;
        &::after {
            content: 'Matthew M. Williams.';
            position: absolute;
            top: 100%;
            left: 0;
            transition: opacity ease 8s;
            opacity: 0;
        }
        @media screen and (max-width: 768px) {
            bottom: 45px;
        }
        @media screen and (max-width: 650px) {
            @include leadMobile;
        }
        @media screen and (max-width: 480px) {
            &:first-of-type {
                top: -12px;
                order: 3;
            }
            &:last-of-type {
                order: 7;
                top: -12px;
            }
        }
    }
    &__article_type_visible {
        &::after {
            opacity: 1;
        }
    }
    &__image-first {
        width: 98%;
        position: relative;
        right: 210px;
        z-index: -1;
        @include animatedTransition;
        @media screen and (max-width: 768px) {
            right: 140px;
        }
        @media screen and (max-width: 650px) {
            right: 50px;
        }
        @media screen and (max-width: 480px) {
            width: 280px;
            order: 2;
            justify-self: center;
            position: initial;
        }
    }
    &__image-second {
        width: 86%;
        @include animatedTransition;
        @media screen and (max-width: 768px) {
            align-self: center;
        }
        @media screen and (max-width: 480px) {
            width: 280px;
            order: 4;
            justify-self: center;
            &+article {
                order: 5;
            }
        }
    }
    &__image-third {
        width: 122%;
        position: relative;
        right: 213px;
        z-index: -1;
        @include animatedTransition;
        @media screen and (max-width: 768px) {
            right: 80px;
        }
        @media screen and (max-width: 665px) {
            width: 280px;
        }
        @media screen and (max-width: 480px) {
            width: 280px;
            order: 6;
            position: initial;
            justify-self: center;
        }
    }
    @media screen and (max-width: 768px) {
        grid-row-gap: 70px;
    }
    @media screen and (max-width: 480px) {
        grid-row-gap: 40px;
        grid-template-columns: 1fr;
        padding-top: 40px;
        padding-bottom: 40px;
    }
}

@keyframes beautyText {
    from {
        transform: scale(.8);
    }
    to {
        transform: scale(1);
    }
}