@import url(../vendor/normalize.css);
@import url(../vendor/font.css);
.page {
  min-width: 320px;
  min-height: 100vh;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  font-family: "Prompt", "Inter", Arial, sans-serif;
  background-color: #FFFFFF;
}

.header {
  min-height: 900px;
  background-color: #E7E7E2;
  -webkit-transition: all ease .3s;
  transition: all ease .3s;
}

@media screen and (max-width: 768px) {
  .header {
    min-height: 646px;
  }
}

.header__conteiner {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  background-image: url("../images/headerdude.svg");
  min-height: 900px;
  background-repeat: no-repeat;
  max-width: 1440px;
  background-size: contain;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all ease .3s;
  transition: all ease .3s;
}

@media screen and (max-width: 768px) {
  .header__conteiner {
    min-height: 646px;
  }
}

.header__nav {
  background-color: #0A0A0A;
  position: absolute;
  top: -830px;
  left: 0;
  z-index: 30;
  -webkit-transition: top ease .8s;
  transition: top ease .8s;
}

.header__nav-open {
  top: 0;
}

.header__list {
  position: relative;
  min-height: 810px;
  width: 480px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 80px;
  -webkit-transition: all ease .3s;
  transition: all ease .3s;
}

@media screen and (max-width: 768px) {
  .header__list {
    width: 334px;
    min-height: 480px;
  }
}

.header__nav-close-button {
  position: absolute;
  background-image: url("../images/crest.svg");
  width: 48px;
  height: 48px;
  top: 20px;
  left: 20px;
  cursor: pointer;
  background-repeat: no-repeat;
  z-index: 50;
}

.header__list-item {
  margin: 0;
  padding: 0;
  font-family: 'Prompt';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #0A0A0A;
  color: #FFFFFF;
  cursor: pointer;
}

.header__main-theme {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 49%;
  -webkit-transition: all ease .3s;
  transition: all ease .3s;
}

@media screen and (max-width: 768px) {
  .header__main-theme {
    width: 64%;
  }
}

.header__title {
  margin: 0;
  padding: 0;
  font-family: 'Prompt';
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 64px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #0A0A0A;
  margin-bottom: 32px;
  -webkit-transition: all ease .3s;
  transition: all ease .3s;
}

@media screen and (max-width: 768px) {
  .header__title {
    font-family: 'Prompt';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #0A0A0A;
  }
}

.header__button {
  margin: 0;
  padding: 0;
  font-family: 'Prompt';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #0A0A0A;
  background-color: #0A0A0A;
  color: #FFFFFF;
  text-align: center;
  width: 350px;
  height: 48px;
  cursor: pointer;
  -webkit-transition: all ease .5s;
  transition: all ease .5s;
}

.header__button:hover {
  background-color: #FFFFFF;
  color: #0A0A0A;
}

.header__button:active {
  background-color: #0A0A0A;
  color: #FFFFFF;
}

.header__burger-menu {
  width: 48px;
  height: 48px;
  position: absolute;
  top: 20px;
  left: 20px;
  cursor: pointer;
  -webkit-transition: all ease .4s;
  transition: all ease .4s;
}

.header__burger-menu:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.header__burger-menu:active {
  color: #FFFFFF;
}

.header__burger-menu:active > p {
  color: #FFFFFF;
}

.header__menu-title {
  position: absolute;
  top: 0;
  left: 64px;
  margin: 0;
  padding: 0;
  font-family: 'Prompt';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #0A0A0A;
  -webkit-transition: all ease .6s;
  transition: all ease .6s;
}

.header__span {
  height: 3px;
  background-color: #0A0A0A;
  position: absolute;
  width: 100%;
}

.header__span::after {
  content: '';
  height: 3px;
  background-color: #0A0A0A;
  position: absolute;
  width: 100%;
  top: 12px;
}

.header__span::before {
  content: '';
  height: 3px;
  background-color: #0A0A0A;
  position: absolute;
  width: 100%;
  top: 24px;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  max-width: 1440px;
}

.about {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  grid-row-gap: 80px;
  padding-top: 80px;
  padding-bottom: 80px;
  padding-left: 20px;
  padding-right: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all ease .3s;
  transition: all ease .3s;
}

.about_type_invisible {
  position: relative;
}

.about_type_invisible::after {
  content: '';
  background: #fff;
  position: absolute;
  -webkit-transition: width ease 2s;
  transition: width ease 2s;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.about_type_visible {
  position: relative;
}

.about_type_visible::after {
  content: '';
  background: #fff;
  position: absolute;
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
}

.about_type_undercover {
  visibility: hidden;
}

.about__title {
  margin: 0;
  padding: 0;
  font-family: 'Prompt';
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 64px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #0A0A0A;
  -webkit-transition: all ease .3s;
  transition: all ease .3s;
}

@media screen and (max-width: 768px) {
  .about__title {
    font-family: 'Prompt';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #0A0A0A;
  }
}

.about__subtitle {
  margin: 0;
  padding: 0;
  font-family: 'Prompt';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #0A0A0A;
  -webkit-transition: all ease .3s;
  transition: all ease .3s;
}

.about__subtitle-animated {
  -webkit-animation: 3s beautyText linear;
          animation: 3s beautyText linear;
}

.about_type-center {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.about__letter {
  margin: 0;
  padding: 0;
  font-family: 'Prompt';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 44px;
  color: #0A0A0A;
  -webkit-transition: opacity ease 2s;
  transition: opacity ease 2s;
  opacity: 0;
}

.about__letter-visible {
  opacity: 1;
}

.about__article {
  margin: 0;
  padding: 0;
  font-family: 'Prompt';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 44px;
  color: #0A0A0A;
  color: #0a0a0a;
  font-family: Prompt;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 44px;
  margin: 0;
  padding: 0;
  min-height: 150px;
  max-width: 700px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 100%;
  position: relative;
  -webkit-transition: all ease .3s;
  transition: all ease .3s;
}

.about__article::after {
  content: 'Matthew M. Williams.';
  position: absolute;
  top: 100%;
  left: 0;
  -webkit-transition: opacity ease 8s;
  transition: opacity ease 8s;
  opacity: 0;
}

@media screen and (max-width: 768px) {
  .about__article {
    bottom: 45px;
  }
}

.about__article_type_visible::after {
  opacity: 1;
}

.about__image-first {
  width: 98%;
  position: relative;
  right: 210px;
  z-index: -1;
  -webkit-transition: all ease .3s;
  transition: all ease .3s;
}

@media screen and (max-width: 768px) {
  .about__image-first {
    right: 140px;
  }
}

.about__image-second {
  width: 86%;
  -webkit-transition: all ease .3s;
  transition: all ease .3s;
}

@media screen and (max-width: 768px) {
  .about__image-second {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

.about__image-third {
  width: 122%;
  position: relative;
  right: 213px;
  z-index: -1;
  -webkit-transition: all ease .3s;
  transition: all ease .3s;
}

@media screen and (max-width: 768px) {
  .about__image-third {
    right: 80px;
  }
}

@media screen and (max-width: 768px) {
  .about {
    grid-row-gap: 70px;
  }
}

@-webkit-keyframes beautyText {
  from {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes beautyText {
  from {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.looks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 80px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  gap: 40px;
}

.looks__title {
  margin: 0;
  padding: 0;
  font-family: 'Prompt';
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 64px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #0A0A0A;
  -webkit-transition: all ease .3s;
  transition: all ease .3s;
}

@media screen and (max-width: 768px) {
  .looks__title {
    font-family: 'Prompt';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #0A0A0A;
  }
}

.looks__gallery {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  max-width: 1400px;
  -webkit-transition: all ease .3s;
  transition: all ease .3s;
}

@media screen and (max-width: 768px) {
  .looks__gallery {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    grid-auto-rows: 0;
    overflow-y: hidden;
  }
}

.looks__image {
  max-width: 100%;
  display: block;
}

.footer {
  min-height: 372px;
  background-color: #0A0A0A;
  padding-top: 40px;
  padding-bottom: 40px;
}

.footer__conteiner {
  margin-left: auto;
  margin-right: auto;
  max-width: 700px;
  -webkit-transition: all ease .3s;
  transition: all ease .3s;
}

@media screen and (max-width: 768px) {
  .footer__conteiner {
    max-width: 468px;
  }
}

.footer__title {
  margin: 0;
  padding: 0;
  font-family: 'Prompt';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #0A0A0A;
  color: #FFFFFF;
  text-align: center;
  margin-bottom: 40px;
}

.footer__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 40px;
}

.footer__email-input {
  width: 65%;
  height: 48px;
  border: 1px solid #666666;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: inherit;
  width: calc(100% - 108px);
  padding-left: 24px;
  color: #666666;
}

.footer::-webkit-input-placeholder {
  font-family: 'Prompt';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #0A0A0A;
  color: #666666;
}

.footer:-ms-input-placeholder {
  font-family: 'Prompt';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #0A0A0A;
  color: #666666;
}

.footer::-ms-input-placeholder {
  font-family: 'Prompt';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #0A0A0A;
  color: #666666;
}

.footer::placeholder {
  font-family: 'Prompt';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #0A0A0A;
  color: #666666;
}

.footer__button {
  width: 108px;
}

.footer__label {
  font-family: 'Prompt';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #0A0A0A;
  margin: 0;
  padding: 0;
  color: #FFFFFF;
  display: inline;
}

.footer__copyright {
  font-family: 'Prompt';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #0A0A0A;
  margin: 0;
  padding: 0;
  color: #FFFFFF;
  margin-top: 40px;
  text-align: center;
}

.footer__switcher {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.footer__switcher + label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  align-items: center;
  display: inline-flex;
  width: 24px;
  height: 24px;
  border: 1px solid #FFFFFF;
  position: relative;
  top: 6px;
  background-repeat: no-repeat;
  background-position: center;
}

.footer__switcher:checked + label {
  background-image: url("../images/galka.svg");
}
/*# sourceMappingURL=index.css.map */